#secondthought-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999999;

  padding: 10px 14px;
  border-radius: 20px;
  border: none;

  background: black;
  color: white;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

#secondthought-btn:hover {
  opacity: 0.85;
}
